<!DOCTYPE html>
<html>
<head>
    <title>forgot password</title>

    <link rel="stylesheet" href="../styles/forgotPass.css">
</head>
<body>
    <div class="container">
        <h1>Forgot Password</h1>
        <form>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <br>
            <input  type="submit" id="forgotPass" value="Submit">
        </form>
    </div>
    <script src="forgotPassword.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.2/axios.min.js"></script>
</body>
</html>
